.match {
  display: flex;
  justify-content: center;
  gap: 1.875rem;
  font-weight: bold;
}

.match-choice {
  color: var(--rps-white-color);
  font-size: 2.375rem;
}

.match-vs {
  font-size: 1.875rem;
  align-self: flex-end;
}