.result {
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 1.4;
}

.result-winner-position {
  font-size: 2.375rem;
  font-weight: bold;
}

.result-position-paper {
  color: var(--rps-green-color);
}

.result-position-rock {
  color: var(--rps-blue-color);
}

.result-position-scissors {
  color: var(--rps-red-color);
}

.result-position-tie {
  color: var(--rps-white-color);
}

.result-status-wrapper {
  display: flex;
  justify-content: center;
  gap: 0.313rem;
  font-size: 1.375rem;
}

.result-reward {
  color: var(--rps-white-color);
}