.result {
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 1.4;
}

.result-winner-choice {
  font-size: 38px;
  font-weight: bold;
}

.result-choice-paper {
  color: var(--rps-green-color);
}

.result-choice-rock {
  color: var(--rps-blue-color);
}

.result-choice-scissors {
  color: var(--rps-red-color);
}

.result-status-wrapper {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 22px;
}

.result-reward {
  color: var(--rps-white-color);
}