* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--rps-bg-color);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--rps-primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.disabled:hover, button:disabled {
  cursor: not-allowed;
}

.loader {
  border: 1rem solid var(--rps-gray-color-1);
  border-top: 1rem solid var(--rps-primary-color);
  border-radius: 50%;
  width: 4.2rem;
  height: 4.2rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}